.navbar {
  background: black;
  margin-bottom: 20px;
}

.navbarBrand {
  margin-left: 40px;
  font-size: 25px;

  a:hover {
    text-decoration: none;
  }
}

.navbarText {
  margin-right: 160px;
  font-size: 20px;
}